.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.not_found_logo {
  width: 100%;
  max-width: 198px;
  max-height: 99px;
  height: auto;
}

.not_found_text {
  color: var(--pastel-red);
  font-size: 1.2em;
  text-align: center;
}

.not_found_link {
  color: var(--pastel-red);
  font-size: 0.8em;
}

.not_found_link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .not_found {
    margin-top: inherit;
    margin-bottom: 4em;
  }
  .not_found_logo {
    max-width: 600px;
    max-height: 263px;
  }

  .not_found_text {
    font-size: 2em;
  }

  .not_found_link {
    font-size: 1em;
  }
}
