.header {
  display: flex;
  justify-content: space-between;
}

.header_logo {
    width: 100px;
    height: auto;
    max-height: 46px;
}

.header > nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 1.5em;
}

.header > nav > ul > li {
    color: var(--pastel-red);
    line-height: 17px;
}

.header > nav > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    .header_logo {
        width: 150px;
    }
    .header > nav > ul {
        gap: 3.5em;
    }

    .header > nav > ul > li {
        font-size: 1.5rem;
    }
}
