.footer {
  background-color: var(--dark);
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}

.footer_logo {
  margin: 0 auto;
  width: 122px;
  height: 39px;
}

.footer_signature {
  width: 133px;
}

.footer_signature > p {
  text-align: center;
  color: var(--white);
  margin: 0;
  font-size: 0.8rem;
}

.footer_fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {

  .footer_content {
    height: 50%;
    justify-content: end;
    gap: 2em;
  }

  .footer_signature {
    width: 100%;
  }

  .footer_signature > p {
    font-size: 1.2rem;
  }
}
